<!DOCTYPE html>
<html lang="en"><head>

    <meta charset="utf-8">
    <title>registration form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/styles/Register.css">


      <script>
          document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('#form').onsubmit = function() {
              var email    = document.getElementById('name');
              var password = document.getElementById('psw');
              var validEmail = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
              var validPassword = /(?=.\d)(?=.[a-z])(?=.*[A-Z]).{6,}/;
              var lowerCaseLetters = /[a-z]/g;
              var upperCaseLetters = /[A-Z]/g;
              var numbers = /[0-9]/g;
      
              if (!validEmail.test(email.value)) {
                alert('Please provide a valid email address');
                email.focus;
                return false;
                 }
      
              if (!password.value.match(lowerCaseLetters)) {
                alert('Your password should have minimum one lowercase letter');
                return false;
              } 
              else if (!password.value.match(upperCaseLetters)) {
                alert('Your password should have minimum one Uppercase letter');
                return false;
              } 
              
              else if (!password.value.match(numbers)) {
                alert('Your password should have minimum one number');
                return false;
              } 
              else if (!password.value.length >= 6) {
                alert('Your password should have minimum 6 letters');
                return false;
              }
                  };
                });
        </script>


</head>
<body>

<form id="form" action="{{url_for('register')}}" method="POST">
  <div class="container">
    <h1 style = color:white> Register</h1>
    <p style = color:white>Please fill in this form to create an account.</p>
    {% if name %}

      <h2 style=color:white >Hello {{name}}, please login </h2>
    {% endif %}
    <hr>

    <label style = color:white for="email"><b>Email</b></label>
    <input id="name" type="email" placeholder="Enter Email" name="name" requiwhite>


    <label style = color:white for="psw"><b>Password</b></label>
    <input id="psw" type="password" placeholder="Enter Password" name="psw" requiwhite>

    <label style = color:white for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" requiwhite>
    <hr>
    <p style = color:white > By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="registerbtn">Register</button>
    <button type="submit" class="registerbtn" formaction="/auth">Login</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>




</body>
</html>